# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/

# Data, models, and database
data/
db/
models/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# presentation original files
presentation/orig/*